In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
df = pd.read_csv('Housing.csv')
print(df)

      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0          79545.45857             5.682861                   7.009188
1          79248.64245             6.002900                   6.730821
2          61287.06718             5.865890                   8.512727
3          63345.24005             7.188236                   5.586729
4          59982.19723             5.040555                   7.839388
...                ...                  ...                        ...
4995       60567.94414             7.830362                   6.137356
4996       78491.27543             6.999135                   6.576763
4997       63390.68689             7.250591                   4.805081
4998       68001.33124             5.534388                   7.130144
4999       65510.58180             5.992305                   6.792336

      Avg. Area Number of Bedrooms  Area Population         Price  \
0                             4.09      23086.80050  1.059034e+06
1                             3.09      40173.07217  1.505891e+06
2                             5.13      36882.15940  1.058988e+06
3                             3.26      34310.24283  1.260617e+06
4                             4.23      26354.10947  6.309435e+05
...                            ...              ...           ...
4995                          3.46      22837.36103  1.060194e+06
4996                          4.02      25616.11549  1.482618e+06
4997                          2.13      33266.14549  1.030730e+06
4998                          5.44      42625.62016  1.198657e+06
4999                          4.07      46501.28380  1.298950e+06

                                                Address
0     208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1     188 Johnson Views Suite 079\nLake Kathleen, CA...
2     9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3                             USS Barnett\nFPO AP 44820
4                            USNS Raymond\nFPO AE 09386
...                                                 ...
4995                   USNS Williams\nFPO AP 30153-7653
4996              PSC 9258, Box 8489\nAPO AA 42991-3352
4997  4215 Tracy Garden Suite 076\nJoshualand, VA 01...
4998                          USS Wallace\nFPO AE 73316
4999  37778 George Ridges Apt. 509\nEast Holly, NV 2...

[5000 rows x 7 columns]

In [53]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [54]:
df.head(50)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386
5,80175.75416,4.988408,6.104512,4.04,26748.42842,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS..."
6,64698.46343,6.025336,8.147760,3.41,60828.24909,1.502056e+06,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ..."
7,78394.33928,6.989780,6.620478,2.42,36516.35897,1.573937e+06,"972 Joyce Viaduct\nLake William, TN 17778-6483"
8,59927.66081,5.362126,6.393121,2.30,29387.39600,7.988695e+05,USS Gilbert\nFPO AA 20957
9,81885.92718,4.423672,8.167688,6.10,40149.96575,1.545155e+06,Unit 9446 Box 0958\nDPO AE 97025
10,80527.47208,8.093513,5.042747,4.10,47224.35984,1.707046e+06,"6368 John Motorway Suite 700\nJanetbury, NM 26854"
11,50593.69550,4.496513,7.467627,4.49,34343.99189,6.637324e+05,"911 Castillo Park Apt. 717\nDavisborough, PW 7..."
12,39033.80924,7.671755,7.250029,3.10,39220.36147,1.042814e+06,"209 Natasha Stream Suite 961\nHuffmanland, NE ..."
13,73163.66344,6.919535,5.993188,2.27,32326.12314,1.291332e+06,"829 Welch Track Apt. 992\nNorth John, AR 26532..."
14,69391.38018,5.344776,8.406418,4.37,35521.29403,1.402818e+06,"PSC 5330, Box 4420\nAPO AP 08302"
15,73091.86675,5.443156,8.517513,4.01,23929.52405,1.306675e+06,"2278 Shannon View\nNorth Carriemouth, NM 84617"
16,79706.96306,5.067890,8.219771,3.12,39717.81358,1.556787e+06,"064 Hayley Unions\nNicholsborough, HI 44161-1887"
17,61929.07702,4.788550,5.097010,4.30,24595.90150,5.284852e+05,"5498 Rachel Locks\nNew Gregoryshire, PW 54755"
18,63508.19430,5.947165,7.187774,5.12,35719.65305,1.019426e+06,Unit 7424 Box 2786\nDPO AE 71255
19,62085.27640,5.739411,7.091808,5.49,44922.10670,1.030591e+06,"19696 Benjamin Cape\nStephentown, ME 36952-4733"
20,86294.99909,6.627457,8.011898,4.07,47560.77534,2.146925e+06,"030 Larry Park Suite 665\nThomashaven, HI 8794..."
21,60835.08998,5.551222,6.517175,2.10,45574.74166,9.292476e+05,USNS Brown\nFPO AP 85833
22,64490.65027,4.210323,5.478088,4.31,40358.96011,7.188872e+05,"95198 Ortiz Key\nPort Sara, TN 24541-2855"
23,60697.35154,6.170484,7.150537,6.34,28140.96709,7.439998e+05,"9003 Jay Plains Suite 838\nLake Elizabeth, IN ..."
24,59748.85549,5.339340,7.748682,4.23,27809.98654,8.957371e+05,"24282 Paul Valley\nWest Perry, MI 03169-5806"
25,56974.47654,8.287562,7.312880,4.33,40694.86951,1.453975e+06,"61938 Brady Falls\nLewisfort, DE 61227"
26,82173.62608,4.018525,6.992699,2.03,38853.91807,1.125693e+06,"3599 Ramirez Springs\nJacksonhaven, AZ 72798"
27,64626.88098,5.443360,6.988754,4.00,27784.74228,9.754295e+05,"073 Christopher Falls Suite 882\nWest Cynthia,..."
28,90499.05745,6.384359,4.242191,3.04,33970.16499,1.240764e+06,"6531 Chase Prairie Apt. 245\nSusanshire, MN 22365"
29,59323.79210,6.977828,8.273697,4.07,37520.65773,1.577018e+06,"17124 Johnson Squares\nLake Robertfurt, AL 618..."
30,77811.52203,5.314460,6.686686,3.24,33754.73780,1.246830e+06,"1359 Mitchell Vista\nCourtneyfort, NY 93065-7224"
31,68652.60921,6.124342,6.290820,4.42,39355.62573,1.170721e+06,"4343 Joshua Lake Suite 096\nPierceview, NV 626..."
32,55041.35158,7.127129,8.591923,5.36,30122.47348,1.071279e+06,"0057 Jacob Coves Apt. 932\nLake Emily, VA 3946..."
33,50218.70846,6.118808,7.333554,6.29,16810.78331,5.343051e+05,"039 Jordan Pike\nEmilyville, ID 27442"
34,55909.32230,5.419563,9.289854,6.00,22355.23541,9.363690e+05,"66338 Novak Curve Suite 628\nTaylorborough, OK..."
35,74372.81021,5.500129,6.593046,2.07,39395.15118,1.199194e+06,"7167 Angela Park Suite 013\nMorrishaven, NH 66..."
36,78667.90460,5.470652,7.780837,4.10,27637.65655,1.233220e+06,"34964 Sara Fields Apt. 584\nPort Raymondville,..."
37,78699.51510,5.652784,6.756454,3.01,22836.60757,1.081150e+06,"7585 Lynn Loop\nEast Judy, WV 73336"
38,53128.18545,5.180664,5.426903,2.39,32947.71196,5.247128e+05,Unit 1388 Box 9350\nDPO AP 70848
39,17796.63119,4.949557,6.713905,2.50,47162.18364,3.023558e+05,"9932 Eric Circles\nLake Martha, WY 34611-6127"
40,58566.84936,6.579691,5.034525,2.17,39705.46496,1.026817e+06,"7896 Walker Spring\nLoriport, MH 72956"
41,75537.79451,7.845216,7.555661,6.30,32778.19534,1.762215e+06,"549 Darren Plaza\nLake Kevin, UT 27155"
42,46147.05306,6.623333,7.606832,4.43,27161.12861,8.820572e+05,"90634 Michelle Valleys\nNorth Victoria, WV 99370"
43,70421.47649,6.907083,7.634319,4.44,43183.92849,1.744932e+06,"580 Lara Neck Apt. 541\nDavidsonstad, ID 34638..."
44,62614.42062,5.499310,7.440505,6.32,26888.57956,1.153871e+06,"43087 Jerome Field\nWest Deborah, SD 49213"
45,66394.87159,7.069512,7.204640,3.18,39741.07751,1.499989e+06,"71956 Jenkins Fall\nBrooketown, PW 67485-0764"
46,73946.85107,4.863154,7.537182,6.35,35261.12702,1.109588e+06,"8034 Pierce Prairie Suite 727\nDevonfurt, NE 3..."
47,69144.74571,7.296224,5.928223,3.22,19030.61549,9.801773e+05,Unit 8108 Box 5159\nDPO AP 04678
48,77278.69703,6.238891,6.919204,2.13,21725.95429,1.323952e+06,"08639 Garcia Port\nAnthonybury, CT 17971"
49,86754.19663,6.604440,6.252455,4.02,43017.44076,1.662495e+06,"91863 Curtis Point\nNew Richard, AK 99996-7554"

In [55]:
df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562390,5.322283,6.299250,3.140000,29403.928700,9.975771e+05
50%,68804.286405,5.970429,7.002902,4.050000,36199.406690,1.232669e+06
75%,75783.338665,6.650808,7.665871,4.490000,42861.290770,1.471210e+06
max,107701.748400,9.519088,10.759588,6.500000,69621.713380,2.469066e+06

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [57]:
df.isnull()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False

In [58]:
df.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [59]:
x=df[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population']]
y=df['Price']

In [60]:
print(x)
print(y)

      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0          79545.45857             5.682861                   7.009188
1          79248.64245             6.002900                   6.730821
2          61287.06718             5.865890                   8.512727
3          63345.24005             7.188236                   5.586729
4          59982.19723             5.040555                   7.839388
...                ...                  ...                        ...
4995       60567.94414             7.830362                   6.137356
4996       78491.27543             6.999135                   6.576763
4997       63390.68689             7.250591                   4.805081
4998       68001.33124             5.534388                   7.130144
4999       65510.58180             5.992305                   6.792336

      Avg. Area Number of Bedrooms  Area Population
0                             4.09      23086.80050
1                             3.09      40173.07217
2                             5.13      36882.15940
3                             3.26      34310.24283
4                             4.23      26354.10947
...                            ...              ...
4995                          3.46      22837.36103
4996                          4.02      25616.11549
4997                          2.13      33266.14549
4998                          5.44      42625.62016
4999                          4.07      46501.28380

[5000 rows x 5 columns]
0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
train_x, test_x, train_y, test_y= train_test_split(x,y, test_size=0.2)

In [63]:
print(train_x)

      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
3785       51026.01921             4.868855                   7.204505
1456       65175.54822             6.578547                   6.711383
1917       78646.88235             4.599014                   6.404430
3970       62893.64668             5.212987                   7.694547
1634       72967.54123             6.021239                   6.975733
...                ...                  ...                        ...
3484       70618.26890             5.801903                   5.635315
2930       65212.36640             5.787307                   7.636500
336        59712.82231             5.735500                   6.979752
4328       68294.30753             5.706870                   6.457792
1445       67511.12733             6.671741                   6.801278

      Avg. Area Number of Bedrooms  Area Population
3785                          4.06      23853.49870
1456                          3.45      29829.06280
1917                          3.25      41268.25953
3970                          4.50      35593.55018
1634                          4.02      49140.66901
...                            ...              ...
3484                          3.22      41291.71993
2930                          5.05      29582.72278
336                           3.23      42601.84262
4328                          3.50      21770.67356
1445                          3.36      23162.54734

[4000 rows x 5 columns]

In [64]:
print(test_x)

      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
227        76175.49393             4.524141                   9.524974
3851       77485.71068             5.799168                   6.563428
4664       66397.44099             4.835749                   6.254684
3426       65606.35861             6.397210                   5.949677
3579       71798.40403             5.634659                   6.654995
...                ...                  ...                        ...
2728       57143.67882             6.150796                   6.848578
1442       72257.50957             5.046906                   6.713334
917        63759.05070             6.135727                   7.614218
1814       60494.11984             5.288329                   6.771064
2800       89475.55970             6.888439                   5.233514

      Avg. Area Number of Bedrooms  Area Population
227                           4.28      30760.99496
3851                          4.07      33296.59384
4664                          4.26      50504.04782
3426                          4.19      37975.77792
3579                          4.02      30877.87052
...                            ...              ...
2728                          2.09      51479.07096
1442                          4.32      33543.04806
917                           6.23      35071.99599
1814                          3.08      31693.61017
2800                          2.40      31070.43183

[1000 rows x 5 columns]

In [65]:
print(train_y)

3785    4.261005e+05
1456    1.180091e+06
1917    1.283402e+06
3970    1.271519e+06
1634    1.765352e+06
            ...
3484    9.651363e+05
2930    9.812326e+05
336     1.122240e+06
4328    1.038330e+06
1445    1.096053e+06
Name: Price, Length: 4000, dtype: float64

In [66]:
print(test_y)

227     1.456486e+06
3851    1.278205e+06
4664    9.060114e+05
3426    1.108205e+06
3579    1.072915e+06
            ...
2728    1.233966e+06
1442    1.085943e+06
917     1.226587e+06
1814    7.950828e+05
2800    1.707270e+06
Name: Price, Length: 1000, dtype: float64

In [67]:
from sklearn.linear_model import LinearRegression

In [68]:
lr = LinearRegression()

In [69]:
lr.fit(train_x, train_y)

LinearRegression()

In [70]:
p=lr.predict(test_x)

In [71]:
p

array([1381457.05381423, 1299262.86169997, 1124655.82698787,
       1137966.4092951 , 1122779.4527977 , 1261978.73563014,
       1038288.76863922,  920397.84325398, 1071539.20175461,
       1509774.23262035, 1589644.25925526,  952149.0932648 ,
       1101849.24543884, 1043465.34016318,  907524.63357433,
       1209420.38877957, 1627954.12393347, 1184610.29164643,
        438167.4639475 , 1218345.66615261, 1004252.99942594,
       1317211.73971585, 2051455.1944706 , 1075698.00558194,
       1197687.48672659, 1247146.83113847,  595747.42598636,
       1551165.49642276, 1279549.43314802, 1670042.02386012,
       1304174.45132032,  691634.21171866, 1359647.29902003,
       1737300.82269452, 1809279.85513617, 1433051.50755278,
       1641741.844951  , 1565567.83040106, 1419153.07662244,
       1101694.34946233, 1270022.10610051, 1184742.02462215,
       1593232.40676955, 1142241.04084499, 1324306.20516633,
       1924267.50326404, 1019014.41527689, 1112579.15470738,
        721040.17896619, 1457995.03441472, 1800095.34483815,
       1216219.37562503, 1189271.09897233, 1230354.3973654 ,
       1750711.70828746,  814561.61122201, 1201681.23679309,
       1186975.71921812, 1033355.75954242, 1279240.93352655,
        655932.90112708, 1261867.10887669, 1733936.69731762,
       1460850.92649025, 1029985.05684694, 1827095.02075619,
        960228.35844841,  787875.21160673,  728880.00730846,
        622253.98080967, 1149332.85235067, 1548754.47197315,
       1005702.01465125, 1798871.78503366,  963723.65681772,
       1212641.25351199, 1201141.7787151 ,  927216.28467359,
       1486897.87046734, 1319135.33866116,  978872.56367075,
        690902.0872308 , 1066354.46515953, 1793690.96545595,
        702460.90271992,  959554.81948486, 1441246.37344289,
       1839588.22925928,  645192.42377501, 1565575.96077093,
       1374390.12661091, 1234285.08023161, 1071739.19371849,
       1288244.38779297, 1285704.66392989, 1298946.21409977,
       1376816.62144357,  937251.34745034, 1433052.86238069,
       1022593.87007487, 1500038.07531512, 1498553.57363297,
        961108.4935868 , 1322617.77886226, 1266523.6998921 ,
       1545769.9006201 , 1506370.63114138,  481344.77179242,
       2006732.17159697, 1578676.01830687, 1207166.40091721,
       1556980.26901032, 1339818.25741702, 1198099.58610115,
        856488.7993782 , 1238712.62336159, 1667904.93183994,
       1118401.93665298, 1448483.20363706, 1425257.26150292,
        855868.61130245,  888464.75873337, 1648393.8993034 ,
       1064597.2662809 ,  639659.44796079, 1300856.3737533 ,
        850470.52845701,  794871.97312769,  843570.74706657,
        912616.42631729, 1897116.56759449, 1452494.39532216,
        880208.94865717, 1011639.39234394, 1222458.42376277,
       1769244.36959722, 1192751.53171867,  920392.04771897,
       1554257.7493912 ,  986474.94111438, 1413643.6516766 ,
       1419548.93544758, 1119264.5038985 , 1374299.87881242,
       1114853.8007783 ,  627708.19978031, 1573469.7743661 ,
       1370829.55198257, 1145022.6498817 , 1223489.62190267,
       1207845.02923896,  854048.69927396, 1182187.35242107,
       1612683.33088266, 1160905.05910271,  895466.69788074,
       1267394.72851016, 1743573.43902273,  858064.34120907,
        992482.41288417, 1528758.38925352,  785614.83631495,
       1052724.07193277, 1797472.39322423, 1875636.95959737,
       1371451.39632823,  753264.03582466, 1331671.10627442,
        671371.08870173, 1306013.36088317, 1356543.0046306 ,
       1801238.88325315, 1275350.22481673,  957843.23918899,
        848441.33492969, 1367001.53774595, 1685394.53028338,
        553424.41998923, 1053225.6609187 , 1180767.60367697,
       1214224.35993288, 1760218.24389706, 1460234.7938373 ,
       1131301.43342898, 1443171.28130214, 1698136.13480551,
        989976.55542372,  734161.58432403,  850354.565869  ,
       1493106.15670295, 1195017.43446552, 1307756.36461707,
       1547900.06401884, 1496375.37575107, 1665565.38312311,
       1729588.30356543, 1860043.18604645, 1045573.85795158,
       1533553.59251096, 1621123.37263841, 1276008.31920378,
       1056773.77653186,  955492.05758188,  957159.16401583,
       1413882.58527312, 1037411.76676543, 1231017.52282867,
       1046353.67381565,  954516.88205723, 1417129.14295379,
       1687959.02184807, 1862890.77445229,  907817.29652612,
       1516794.78109743, 1422059.25158095, 1174601.95423185,
       1393894.0435391 , 1084972.29974188, 1436449.68544596,
       1461620.38436378, 1409704.82007446, 1752879.90253625,
       1297902.63403205,  625967.95373164, 1101271.63929026,
        526455.40968401, 1589897.41079149, 1067620.35339538,
       1822100.14384849,  970582.56256308, 1539080.84073759,
       1007633.31125934, 1115609.27112318, 1097262.99772587,
       1490641.98797372, 1116997.3334    , 2028511.64692652,
       1066812.1405798 , 1163335.27382813, 1231969.24081947,
       1004204.93548335, 1480921.16591132, 1323069.93228599,
       1354015.96254458, 1801298.31143749, 1339270.78094448,
        725455.42902649,  859297.48591205, 1100440.43255364,
       1853517.40796113, 1305923.19710664, 1582704.93478278,
       1336774.46566696,  791935.44459818, 1193786.57946905,
       1090708.01653052, 1365122.01353026, 1670189.67399719,
       1735484.93442506, 1163339.46821331, 1439026.80626171,
       1553620.88559314, 1055086.1165284 ,  774606.5396678 ,
        844042.9771408 , 1565087.73205863, 1468201.76167948,
       1720788.33513568, 1290099.65878069, 1077024.58666291,
        654770.88162317,  786700.5099268 ,  964514.35475781,
       1621494.88316775, 1173437.15628857, 1650501.67343346,
       1002925.86382894, 1308230.56594344, 2181846.28202969,
        912950.53931776, 1243091.8774629 , 1232158.01728706,
       1616582.32161728, 1768644.47092244, 1489199.39834494,
        500078.76083254, 1553110.70379241, 1017712.68628827,
       1286708.10178897,  632048.61223626, 1368801.73315911,
       1539094.19264958, 1653467.27571676, 1129558.45265836,
       1488959.09064632, 1676588.21707318, 1106263.38451208,
       1123461.34649174, 1635110.22384476,  819290.90434462,
       1048120.98665096, 1031591.23386685, 1288546.4023691 ,
       1395703.66925058, 1862672.49097846, 1026941.602631  ,
       1274580.76438694, 1212949.00969632,  829157.46778335,
       1226332.14783277, 1414396.79002852,  987828.47349954,
       1216711.12986298, 1434209.62024853, 1236992.1835665 ,
       1447602.22211422,  833497.51188256,  969171.12180508,
       1585883.16127871, 1282104.58616398, 1544145.53167464,
       1004330.33740182, 1503648.00036553, 1113457.92197786,
       1200180.54433148, 1758072.43301245, 1972373.79247009,
        988415.88633529, 1334021.73979256, 1580617.32837322,
        803349.58331019, 1298084.26536208,  760700.75924109,
       1348159.78605778, 1127024.2847337 , 1233202.15216296,
       1515643.06742732, 1344477.30995248, 1425596.37898892,
       1389922.23628754, 1461478.91296894, 1310541.97267182,
       1715540.79922693,  637832.58848288, 1820146.73654233,
        859047.44691325,  696124.7465891 , 1114680.21616941,
       1230253.94575308, 1197005.25948004,  885990.18888435,
       1505742.28471818, 1755512.61623974, 1022725.17052704,
       1266228.08376981, 1755704.08378715,  977954.56757823,
       1276483.09748071, 1357951.67131596, 1237367.86599508,
        906254.91500959, 1129043.39868896, 1029017.86265407,
        623388.3232542 ,  750244.66132926, 1452275.61277135,
        782979.54137243, 1085234.11078276, 1562882.13195826,
       1153373.12369115, 1183587.58284505, 1529364.63528248,
       1212822.43369812, 1504890.36619305,  962396.97562633,
       1825383.22646745, 1479137.98912442, 1072873.44954136,
       1151436.25314241, 1100807.99864481, 1307892.34147699,
       1239085.19042399,  956674.85352758, 1821241.19292623,
        791606.66924985, 1047924.96866327, 1138920.97794488,
       1679842.214904  ,  487711.90898967,  985780.44577372,
        991114.51567638, 1265554.07161233, 1559086.6035454 ,
       1365340.41330379, 1285783.12635827, 1334199.92610339,
       1118468.64265158, 1113185.68025338, 1474263.55303444,
       1092459.91793495, 1151257.33390793, 1022099.88455618,
       1243070.75912605, 1322321.93233927, 1092864.32963194,
       1601675.23341335, 1012599.98730392,  702311.32493276,
       1735415.5841354 , 1868698.93629086, 1656914.90125999,
        996706.58087168,  914134.70641369, 1271655.03691814,
        768653.57890849, 1587300.59917751, 1457670.66798316,
       1036076.36827865, 1743212.50168959,  873312.16593991,
       1275203.63811772,  988599.09313058, 1063351.00703319,
        742864.14246278, 1388720.56322148,  395820.36100135,
        659930.49172338, 1182027.07735921, 1419376.46936937,
        776981.69919187, 2093786.82913584,  514755.81657216,
        680085.82591618, 1440757.32301015, 1065327.50122992,
       1162730.47317874,  980439.31783906, 1226431.27912751,
        802443.93890805, 1677225.06402971, 1417720.96546127,
       1345844.80683578,  971478.69550128, 2343037.16913889,
       1223468.05952436, 1370682.93343144, 1060505.29069146,
       1207004.56561077, 1330733.65630506, 1386805.2532233 ,
       1657909.08425761, 1152584.71464076, 1010919.60267704,
       1187409.43417562,  691020.04915604, 1463657.21058563,
       1727413.39388758, 1459225.77073101, 1528194.36649049,
       1068235.00672702, 2133513.31909759,  906830.12917368,
       1179048.03336038, 1131003.43049383,  918653.06671446,
       1567389.97663844, 1725425.48945406, 1522345.19353259,
       1146668.21212157,  984403.56568527, 1557546.88440649,
       1063646.78901972, 1127613.48303926, 1301834.28769075,
        925992.79362241, 1295119.6439034 , 1082510.58112673,
       1353723.78614802, 1127488.63294857,  563559.5706964 ,
       1458926.30367472, 1076671.06511781, 1197739.56619891,
        802618.26343164,  706250.88315011, 1297109.54598587,
        971846.00047068,  912468.58942788, 1480479.4928907 ,
       1669905.19871881,  573963.79056551, 1121161.54306169,
       1725225.22122525, 1390105.35916099, 1099799.22884704,
       1335224.21917225, 1353287.51443196, 1562117.07702603,
        529313.02595758, 1406377.9996104 ,  828566.29977414,
        722715.9502812 ,  788613.1015281 , 1559847.49964964,
       1478638.48506915, 1157577.9512794 , 1302491.894919  ,
       1254941.91440682, 1521747.49870032, 2037918.26249492,
       1420762.3610049 ,  851579.05579656, 1567784.90099228,
       1218579.83084657,  917167.87765553, 1413223.03718617,
       1884760.9364687 , 1332984.4434409 ,  788315.57137697,
        812544.74253495, 1869341.15936583,  914021.54008726,
       1532937.27394132, 1120790.84068359,  899906.66035675,
       1057392.41886998, 1627861.50772626, 1547383.36695296,
       1472531.53904731, 1638744.86085049, 1405852.2722879 ,
       1684742.0280174 , 1552351.25861328, 1478100.15164891,
       1661361.67179001,  891130.34471395, 1393995.84270927,
       1413283.19230494, 1352577.04579121,  997525.30708009,
        704748.64849308, 1256628.47176009, 1141657.23316633,
       1064991.02522985,  986941.74382222,  930196.58708188,
        625935.8248026 , 1325928.39071388, 1274438.28581736,
        859180.7065328 , 1356234.80609318, 1049036.80888853,
       1338822.97043778, 1088786.25162557,  853485.72137148,
       1606115.18980266, 1533208.65023611,  682963.32574645,
       1437624.07593695, 1087139.17705977, 1186665.85918617,
       1899743.36055577,  994503.21087239, 1152776.45587124,
        875667.44325131, 1394157.96578265, 1200091.45875889,
       1148265.32298629,  805373.91111299, 1786897.99995154,
       1737847.98974206,  697863.63984689, 1246961.85592496,
       1227094.94666173,  990852.76061105, 1122183.09385332,
       1178479.74803633, 1430751.07641584, 1245585.215912  ,
       1343417.82405315, 1094611.64550363, 1258394.17357325,
       1413060.20841884, 1056584.25031061, 1626568.26218077,
        976952.09379133, 1615766.85187459, 1527415.19237162,
       2122689.09826324, 1297795.2492103 , 1030866.24677983,
       1852941.31599317, 1399512.30234563,  831353.13863123,
       1041096.03511266, 1396537.15492676, 1430779.63889963,
       1126272.87234898, 1085482.10851384, 1531127.73465335,
       1675699.36087132, 1503234.42920178, 1547571.65856114,
       1260284.93063984, 1644511.66594307, 1520226.3518997 ,
       1761780.45609258,  799296.08998127, 1353583.3520869 ,
       1464104.21907431,  944710.25952855, 1851005.49207568,
       1667625.93260184, 1254705.93796359, 1729702.49496519,
       1280028.60173234, 1126434.15834923, 1022534.60712547,
       1375729.47602814, 1351873.97605182, 1229975.97665676,
       1504916.73911271, 1606086.71202512, 1387760.41677814,
       1599134.90285124, 1107566.88373336,  710900.13648675,
       1709935.76250084, 1804275.2796024 , 1477819.2191543 ,
       1099177.69646427,  686503.95417903, 1538361.17872008,
       1288298.53031937,  710147.38205755, 1364128.61310381,
       1169222.87350214, 1092214.62736459, 2018306.93798186,
       1282791.88709559, 1770781.01519551, 1114173.62722619,
       1450051.76020098, 1417818.45875526, 1375336.07568771,
        836249.2958584 , 1747926.31141239,  695165.8866858 ,
       1435406.08204726,  933054.56656476,  763433.89666308,
       1119516.11970299, 1144973.23932777,  516308.04951104,
       1316749.29548577,  932812.01212909, 1167328.21596913,
       1239362.63115183, 1237018.25038965,  974742.26622046,
       1476314.43683847,  981247.19164306, 1211546.27153473,
        771113.51517688,  548764.92713254, 1287456.4009472 ,
        949173.38770989, 1164595.01405262, 1074160.48949497,
       2002550.907689  , 1239534.7295579 ,  859905.82557048,
       1327500.59443852, 1243924.91246352, 1029903.16813806,
       1386011.63030317, 1481090.03041361,  819528.07869795,
       1071667.70393599, 1199623.57546905,  858189.44545406,
       1024781.97063681,  579243.2392937 , 1213396.73250951,
        996725.46497833, 1669252.93005933,  486472.26428898,
        688945.35182227, 1285304.98124767, 1288952.89557739,
       1096370.59389291, 1468042.1230085 ,  842417.40420932,
       1870803.56054803,  448952.73480661, 1116806.87984375,
       1467054.43564438,  962466.3962284 , 1100175.49269463,
        679080.88374155,  979601.95804755, 1271090.02481008,
       1580668.80478212,  934265.10372883, 1212289.78124443,
        750815.01949498, 1407153.20221512, 1198175.09746254,
       1575386.01186097, 1353441.21362463,  975435.78675665,
       1270567.0040953 , 1049531.30852497, 1327004.22555516,
       1276007.43922297, 1569017.37396105, 1227620.52780868,
        844692.31661737,  961174.95013487,  839016.81395111,
       1516871.58246135, 1417468.3152167 , 1322303.26051863,
       1252985.55101364,  967860.71416531,  891539.27902781,
       1483295.08545697, 1295152.97487783, 1389913.53972214,
       1243290.44724564, 1331159.9403179 , 1080490.27198796,
       1125817.48266982, 1405891.01080058, 1114537.9598509 ,
       2004960.72004377, 1360897.65657093, 1604412.97082197,
       1292273.63785675,  759078.50966374,  880072.70899478,
        487890.72651378, 1846712.33113444, 1287034.41917996,
       1492831.82255857,  949260.85437354, 1332388.53271193,
       1559853.60753865, 1898215.59468519, 1196875.0113483 ,
       1458786.31396009,  995879.63015956,  925370.28060502,
       1537189.16865211, 1279523.81114056, 1162437.85281844,
       1050731.76638076, 1614146.71756712, 1212619.14065022,
        872321.51575915,  567904.99609993, 1180432.30233132,
       1308783.10969128, 1878793.64360269, 1366782.33903898,
       1047535.84269466,  999096.74063251, 1222718.26613751,
       1322653.17926081, 1096035.45562657, 1429501.92499488,
       1260624.94755272, 1280166.53667667, 1708928.68500428,
       1565830.75756554,  881348.06284142, 1289886.63945638,
       1584236.92348209, 1192902.12755278,  929866.30540704,
        658235.91094936,  847527.89598314,  663561.38367379,
       1218576.56889383,  769708.14456636, 1097228.00242638,
       1586355.22169536,  852838.38671461, 1862243.85841556,
       1522022.57203698, 1197379.1717126 , 1249348.62167748,
        876426.3414147 , 1492811.49095163, 1593777.09358857,
       1044440.09068839, 1134916.66526219, 1400519.05021779,
       1125731.48885271,  679920.41038924, 1318976.64014649,
        982266.41860103, 1172727.1628137 , 1246883.87682706,
       1021842.9304467 , 1881738.58815755, 1363011.2825855 ,
       1246774.53530463, 1470655.79735545, 1162824.82640427,
       1319256.80343769, 1020459.57965446, 1031852.85233537,
       1132175.68251564, 1789729.60869153,  711486.65154311,
       1051300.21576789, 1219578.97304905, 1320481.94722055,
       1318684.92647266, 1484612.63243151, 1738485.76656225,
       1186685.29884983,  876700.40931942,  964381.65751478,
       1068966.48374933, 1471172.19481207, 1002026.98929353,
       1704092.17720252, 1827484.95126451, 1053627.21582837,
       1780600.18008811,  945799.22709009, 1092203.88872564,
       1046289.24412693, 1295463.54578453, 2250881.64035537,
       1768001.55434813, 1360766.03037155, 1377721.82049483,
       1569531.12165732, 1821831.89408174, 1494118.07249798,
       1065204.67720123,  984510.53700133,  370115.80351046,
        791813.82111556, 1226660.89280835, 1844883.20873152,
        771785.78930246,  368617.21090716, 1751405.8275017 ,
        856786.18575801,  765016.09972428, 1548186.56965548,
       1708063.45594366, 1399820.57786125, 1704452.31148101,
       1072830.4046125 , 1418326.39155327, 1119562.21640814,
       1328179.92991496, 1113596.46311608,  901173.37196273,
       1545966.55795659, 1776302.02249889, 1906428.34376519,
       1532503.37356736,  647693.46192638,  916005.6483204 ,
        880319.11080114, 1516639.44098369, 1092607.34375442,
        883353.09056004, 1181943.56205124,  902347.0562584 ,
        867248.12735964, 1562688.08383242, 1332211.80883036,
       1501354.21892014, 1821988.07398375, 1498864.89635062,
       1609544.82694141, 1268494.14753324,  666428.9038753 ,
       1092192.54432444,  930415.66149319, 1443586.61708938,
       1241378.40647314, 1095469.20216495,  932986.79511128,
       1406510.04599878, 1201190.92520166, 1389248.75540432,
       1107850.72033777, 1195369.33476827, 1192609.19861191,
       1175689.65030854, 1086154.90757448, 2053015.85505893,
        931861.9165401 , 1361706.89469337, 1363657.81452053,
        932527.47127701, 1293861.83432411, 1259030.39550636,
        654716.38289211, 1379672.46451412,  746052.39295995,
       1064412.17451699, 1423403.40982707,  697134.4017676 ,
       1279292.40593792, 1308208.78479317, 1398048.42275182,
       1082196.61180445, 1015137.06825115, 1238385.82109469,
        740421.45291333, 1630039.35855108, 1394950.43303966,
       1259841.62776319, 1207185.48221545,  663963.50930937,
       1464018.90876194,  809778.90895136,  929867.15357728,
        887026.19855853, 1546624.0469608 , 1212864.40436706,
       1184590.20584918, 1065322.56773787, 1671556.62396446,
       1396693.85136595,  747966.54425215, 1208302.59180569,
        710568.66063548, 1286671.86012703, 1108372.88212664,
       1109733.36377629, 1728346.25779021,  672463.39131206,
        802240.98058653, 1001425.60347971, 1176733.35860092,
       1085778.81524159, 1805940.14802433,  769081.67802105,
       1621028.48380093,  961574.65372489,  544555.14950367,
       1683656.24556325,  858216.10304449, 1058538.87996506,
       1025435.42619427, 1233376.69650409, 1551201.02270223,
       1672939.86993928, 1502616.44725296, 1987142.98846568,
       1123169.48267771, 1248965.93557299,  874629.84130705,
        567566.35879546, 1470973.12214316, 1186724.97255614,
       1695027.18426571, 1230755.99522299, 1644025.24968938,
        893212.41800378, 1638795.30683984, 1195043.32891684,
        898134.40021128, 1758478.6536365 ,  951856.30051984,
        796912.84601222, 1254210.82634353,  994241.84488099,
       1991364.02506447,  917035.27578289, 1155203.61047869,

In [72]:
dft=pd.read_csv('test.csv')

In [73]:
dft

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,69545.45857,5.682861,7.009188,4.09,23086.8005

In [74]:
lr.predict(dft)

array([1005730.68387106])

In [75]:
lr.predict([[69545.45857, 5.682861, 7.009188, 4.09, 23086.8005]])

/Users/farhanhaider/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1005730.61284624])